// Specific CSS for your home-page
.date.required.form-control{
display: inline-block;
width: 30%;
margin-right: 5px;
}

.form-wrapper {
  background: $light-gray;
  display: flex;
  justify-content: center;
  padding: 15px;
  border-radius: $border-radius-base;
}

.padded {
  padding: 100px 0;
}

.spot-description {
  min-height: 90px;
}

